<!-- templates/voter_analytics/voter.html -->
{% extends 'voter_analytics/base.html' %}
{% block content %}
<h1>Showing all Voters</h1>
<div class="container">
    <div class="row">
        {% include "voter_analytics/search.html" %}    
    </div>
    <!-- navigation links for different pages of voters -->
    <div class="row">
        {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li>
                    <span><a href="?{% if request.GET %}{{request.GET.urlencode}}&{% endif %}page={{page_obj.previous_page_number}}">Previous</a></span>
                </li>
            {% endif %}
                <li class="">
                    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
                </li>
            {% if page_obj.has_next %}
                <li>
                    <span><a href="?{% if request.GET %}{{request.GET.urlencode}}&{% endif %}page={{page_obj.next_page_number}}">Next</a></span>
                </li>
            {% endif %}
            </ul>
        {% endif %}
    </div>
    
	<!-- table of voters -->
    <div class="row">
        <table>
            <tr>
                <th>Name</th>
                <th>Street Address</th>
                <th>Date of Birth</th>
                <th>Party</th>
                <th>Voter Score</th>
            </tr>
    
            {% for voter in voters %}
            <tr>
                
                <td>
                    <a href="{% url 'voter' voter.pk %}">
                        {{voter.firstName}} {{voter.lastName}}
                    </a>
                </td>
                <td>{{voter.streetNumber}} {{voter.streetName}}{% if voter.aptNumber != "N/A" %}, Apt {{voter.aptNumber}}{% endif %}</td>
                <td>{{voter.dob}}</td>
                <td>{{voter.affiliation}}</td>
                <td>{{voter.voterScore}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

</div>    
{% endblock %}