<!-- restaurant/templates/restaurant/confirmation.html -->
{% extends 'restaurant/base.html' %}
{% block content %}
<div>
<h2>Confirmation</h2>
    Thank you for your order!
<h4>Your order will be ready soon!</h4>
<h3>Your order:</h3>
<ul>
    {% for item in order %}
        <li>{{ item }}</li>
    {% empty %}
        <li>No order</li>
    {% endfor %}
</ul>
{% if flavor != 'Not specified' %}
<p><strong>Shake Flavor:</strong> {{ flavor }}</p>
{% endif %}
<h3><strong>Special Instructions:</strong></h3>{{ instructions }}
<h3><strong> Total: </strong></h3> {{ total }}
<h3>Customer Information:</h3>
<div><strong>Name:</strong> {{ name }}</div>
<div><strong>Phone Number:</strong> {{ number }}</div>
<div><strong>Email:</strong> {{ email }}</div>

</div>
{% endblock %}