<!-- templates/base.html -->
<!-- mini_fb/templates/mini_fb/base.html -->
{% load static %}
<!DOCTYPE html>
<!-- head -->
<head>
    <title> Mini Facebook </title>
    <link rel="stylesheet" href="{% static 'mfb_styles.css' %}">
</head>
<!-- body -->
<body>
    <header>
        <h1>Mini Facebook</h1>
    </header>
    <!-- navigation links-->
    <nav>
        <ul>
            <li><a href="{% url 'show_all_profiles' %}">All Profiles</a></li>
        </ul>
    </nav>
    <nav> <!-- added support for create profile page -->
        <ul>
            <li><a href="{% url 'create_profile' %}">Create a profile</a></li>
        </ul>
    </nav>
    <br> <!-- new line -->

    <!-- shows if logged in(and who) or not-->
    <nav>
        {% if request.user.is_authenticated %}
        Logged in user: {{ request.user }}.
        {% else %}
        Not logged in.
        {% endif %}
    </nav>

{% block content %}
<!-- to be filled in by the pages that inherit from base.html -->
{% endblock %}    

</body>