<!-- templates/friend_suggestions.html -->
{% extends 'mini_fb/base.html' %}
{% load static %}
{% block content %}

<div class="main">
    <!-- link to go back to profile-->
    <a href="{{profile.get_absolute_url}}"> Back to {{ profile.firstName }}'s Page </a>
    <div class="grid">
        <!-- suggested friends for profile-->
        <h3> Suggested friends for {{ profile.firstName }}:</h3>
    </div>
    
    <!-- show friends in grid container-->
    <div class="grid">
        <!-- loop to display each suggested friend -->
        {% for friend in friends %}
            <div class="profile-container">
                <div class="crop">
                    <!-- if the suggested friend has a profile phhoto-->
                    {% if friend.image_file %}
                        <a href="{% url 'show_profile' friend.pk %}"> <!-- the suggested friendsprofile -->
                            <img src="{{friend.image_file.url}}" alt="Profile Photo"> <!-- their photo -->
                            <strong>
                                <!-- their name-->
                                {{friend.firstName}} {{friend.lastName}}
                            </strong> <!-- their name-->
                        </a>
                        <!-- add friend button -->
                        <a href="{% url 'add_friend' profile.pk friend.pk %}"> Add Friend </a>
                    <!-- the suggested friend does not have a profile phhoto-->
                    {% else %}
                        <p> No Profile Photo</p>
                        <strong>
                            <!-- their name-->
                            {{friend.firstName}} {{friend.lastName}}
                        </strong> <!-- their name-->
                        <!-- add friend button -->
                        <a href="{% url 'add_friend' profile.pk friend.pk %}"> Add Friend </a>
                    {% endif %}                    
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}