<!-- mini_fb/templates/login.html -->
{% extends 'mini_fb/base.html' %}

{% block content %}

<h1>Login to Mini Facebook</h1>
<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Login">
    <!-- This basic login form works, but after login in
     assumed the existance of a page at /registration/profile, which
     does not exist.  -->
    {% if request.GET.next %}
    <input type="hidden" name="next" value="{{request.GET.next}}">
    {% else %}
    <input type="hidden" name="next" value="{% url 'show_all_profiles' %}">
    {% endif %}
</form>
<hr>
Don't have an account? Create one here: <span class ="small"> <a href="{% url 'register' %}">Register</a></span>

{% endblock %}