<!-- templates/show_all_profiles.html -->

<h1>Showing all Profiles</h1>
<!-- scriptlet code to display the value of the variable `profiles`  -->
{{ profiles }}
<div>
    <!-- loop to display all profiles -->
    {% for p in profiles %}
    <div class="crop">
        {% if p.profileImageURL %}
            <!-- display profile photo -->
            <img src="{{ p.profileImageURL }}" alt="Profile Photo">
        {% endif %}
    </div>
    <!-- display full name -->
    <h2>{{ p.firstName }} {{ p.lastName }}</h2>
    {% endfor %}
</div>
