<!-- templates/show_all_profiles.html -->
{% extends 'mini_fb/base.html' %}
<h1>Showing all Profiles</h1>
<!-- scriptlet code to display the value of the variable `profiles`  -->
{{ profiles }}
{% block content %}
{% load static %}
<main class="grid" >
    <div class = "profile-container">
        <!-- loop to display all profiles -->
        {% for p in profiles %} <!-- for each profile-->
        <div class="crop">
            {% if p.image_file.url %}
                <!-- display profile photo -->
                <a href="{% url 'show_profile' p.pk %}"> <!-- substituting in the primary key for each profile -->
                    <!-- implemented conditionals in case of static photos-->
                    {% if p.image_file.url|slice:":5" == "https" %}
                    <!-- image starts with 'https') -->
                    <img src="{{ p.image_file.url }}" alt="Profile Photo">
                    {% else %}
                    <!-- Local static image -->
                    <img src="{% static 'images/mini_fb/' %}{{ p.image_file.url }}" alt="Profile Photo">
                {% endif %}
                </a>
            {% endif %}
        </div>
        <!-- display full name -->
        <h3>
            <a href="{% url 'show_profile' p.pk %}"> <!-- substituting in the primary key for each profile -->
                <strong>{{ p.firstName }} {{ p.lastName }}</strong>
            </a>
            <br> <!-- new line -->
            <span class="small">{{ p.city }}</span> <!-- city text styled--> 
        </h3>
        {% endfor %}
    </div>
</main>

{% endblock %}