<!-- 
Create template to show one profile:
(start from the show_all_profiles.html, remove loop and add class="featured")
mini_fb/template/mini_fb/show_profile.html
 --> 

<!-- mini_fb/templates/mini_fb/shhow_profile.html -->
{% extends 'mini_fb/base.html' %}
{% load static %}
<h1>{{ profile.firstName }} {{ profile.lastName }} </h1>
{% block content %}
<main class="grid">
    <profile class="featured">
        {% if profile.image_file %}
            <img src="{{ profile.image_file.url }}" alt="Profile Photo">
        {% else %}
            <h3> No Image </h3>
        {% endif %}
        <div>
            <h2>{{ profile.firstName }} {{ profile.lastName }} </h2>
            <span class="small">{{ profile.city }}</span> <!-- city text styled--> 
            <br> <!-- new line -->
            <span class="small">email: </span><a href="mailto:{{ profile.emailAddress }}">{{ profile.emailAddress }}</a> <!-- email route and text styled-->   
            <!-- update this profile -->
            <span class="small" href="{% url 'update_profile' profile.pk %}">Update this profile</a>
            
            <br> <!-- new line -->

            <!-- NEW STATUS MESSAGE DISPLAY IMPLEMENTATION-->
            <div> 
                <h3> Status Messages: </h3> 
                <!-- Status Messages:
                {{profile.get_status_messages}} -->
                {% for status_message in profile.get_status_messages %} 
                <!-- for each status message obtained 
                from each profile objects message getter method -->
                <a>
                    <div>
                        <strong> {{status_message.message}} </strong> <!-- display the status message -->
                        <span class="small"> <!-- minor styling -->
                            at {{status_message.timestamp}} <!-- display the timestamp -->
                        </span>
                    </div>
                </a>
                    <!-- for each image in status_message -->
                    {% for image in status_message.get_images %}
                    <img src="{{ image.image_file.url }}" alt="{{ 'status image' }}">
                    {% endfor %}
                {% endfor %}
                <span class="small">
                    <h3><a href="{% url 'create_status' profile.pk %}">Write a status message</a></h3> <!-- new create status message functionality-->
                </span>
            </div>
        </div>
    </profile>
</main>
{% endblock %}